/* app css stylesheet */
body {
width: 100%;
height: 800px;
margin: 0 0 0 0;
background: #d4d7fe;


}
.cardHover {
background: black;
}
.card {
float:left;
width: 200px;
height: 250px;
background: white;
box-shadow: 2px 2px 2px#888888;
margin: 20px;
border: 1px solid grey;
border-radius: 5px;
}
.card-title {
text-align: center;
font-family: arial;
color: gray;
font-weight: bold;
margin-top: 10px;
}
.card-image {
text-align: center;
}
.card-icon {
width: 180px;
height: 200px;
}
#header {
height: 50px;
top: 0;
background: #666;
margin-left: 50px;
margin-right: 50px;
border: 1px solid white;
border-radius: 2px;
}
.wrapper {
width: 92%;
height: 700px;
margin-left: 50px;
margin-right: 50px;
border: 1px solid white;
margin-top: 20px;
border-radius: 20px;
background: white;

}
.menu {
  margin: auto;
width: 25%;
display: block;
padding: 13px;
}


.menu > li {
  display: inline;
  padding: 20px;
}

.menu li a{
text-decoration: none;
color: white;
font-weight: bold;
}
.menu > li:before {
 
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.chart {
    width: 600px;
margin: auto;
margin-top: 18px;
padding: 12px;
border: 1px solid grey;
border-radius: 6px;
}

.chart div {
  width: 0;
  transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 5px;
  color: white;
  box-shadow: 2px 2px 2px #666;
}
.refresh-button {
position: absolute;
top: 138px;
left: 980px;
}
.report-header-name {
width: 98%;
margin: 10px;
height: 30px;
background: slategrey;
border-radius: 6px;
}
.report-name-span {

font-family: Arial;
font-size: 24px;
color: white;
font-weight: bold;
padding: 15px;
}
align-content: center;
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.x.axis path {
  display: none;
}
#digitalClock {
	font-weight: bold;
position: absolute;
top: 703px;
left: 1055px;
border: 1px solid #000;
background-color: #D3D3D3;
border-radius: 5px;
font-size: 16px;
font-family: "Arial Black";
float: left;
height: 60px;
width: 230px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 1200px; 
    height: 180px;
    margin: 20px;
	
}
.btn-group-date {
position: absolute;
top: 667px;
left: 866px;
width: 418px;
}